export BOSH_ENVIRONMENT=helter
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int secret.yml --path /admin_password)
export CREDHUB_SERVER=https://192.168.1.20:8844
export CREDHUB_CLIENT=credhub-admin
export CREDHUB_SECRET=$(bosh int secret.yml --path /credhub_admin_client_secret)
export CREDHUB_CA_CERT="
$(bosh int secret.yml --path /credhub_tls/ca)
$(bosh int secret.yml --path /uaa_ssl/ca)"

unset VAULT_ADDR NOMAD_ADDR

echo -e '\033[0;31mmust run `source ./dynenv.sh` to load dynamic address information from BOSH\033[0m'
