export BOSH_ENVIRONMENT=helter
export CREDHUB_SERVER=https://192.168.1.20:8844
export CREDHUB_CLIENT=credhub-admin
export CREDHUB_SECRET=$(bosh int secret.yml --path /credhub_admin_client_secret)
export CREDHUB_CA_CERT="
$(bosh int secret.yml --path /credhub_tls/ca)
$(bosh int secret.yml --path /uaa_ssl/ca)"
export BOSH_CLIENT=admin
export BOSH_CLIENT_SECRET=$(bosh int secret.yml --path /admin_password)

instances="$(bosh is | grep running)"
first_vault="$(<<< "$instances" grep vault | head -n1 | cut -f 4)"
first_nomad="$(<<< "$instances" grep server | head -n1 | cut -f 4)"

export VAULT_ADDR="https://$first_vault:443"
export NOMAD_ADDR="http://$first_nomad:4646"
